<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form action= "#" th:action= "@{/user-create}" th:object= "${user}" method="post">

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Введите имя">

    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Возраст">

    <label for="password">Пароль</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Пароль">

    <input type="submit" value="Create User">
</form>
</body>
</html>